%p
  Hi
%p
  This email comes to you from
%i
  #{`hostname`}
%p
  You received a message sent to a mailer service by #{@fields[:from]} for #{@fields[:to]} that said:
%p
  %b
    Subject: #{@fields[:subject]}
%hr
  %p
    Body (text)
%hr
  %p
    = @fields[:body]

%hr
  %p
    Body (html)
%hr
  %p
    = @fields[:html_body]

