.paragraph
  If you don't see the data you expected, try #{link_to('refreshing this page', twitter_profile_analysis_path(handle: @bio.handle, word_cloud: 1))}.

%p
  - if @bio
    .twitter-box.row
      .twitter-biobox.handlebox
        = link_to @bio.handle, "https://www.twitter.com/#{@bio.handle}", target: '_blank'
      .twitter-biobox
        Location: #{@bio.location}
      .twitter-biobox
        #{@bio.bio}
      .twitter-biobox
        Num. followers: #{@bio.num_followers}
    = form_tag twitter_twitter_call_path, class: 'inline-block' do
      = hidden_field_tag :handle, @bio.handle
      = submit_tag "Get older tweets"
      = submit_tag "Get newer tweets"
    - if @latest_tweets && @latest_tweets.count > 0
      .paragraph
        #{@latest_tweets.count} tweets retrieved (from&nbsp;
        %b><
          #{nice_date(@latest_tweets.first.tweeted_at)} to #{nice_date(@latest_tweets.last.tweeted_at)}
        ) Retweet Percentage #{sprintf("%0g", 100-@word_cloud[:orig_tweets_count]*100.0/@word_cloud[:tweets_count])}
      - if @universe_size != 0
        = twitter_cloud_box_partial(:retweets, 'Re-Tweets')
        = twitter_cloud_box_partial(:orig, 'Original Tweets')
        = twitter_cloud_box_partial(:webdocs, 'Web Documents')
        = twitter_cloud_box_partial(:hashtags, 'Hashtags')
        = twitter_cloud_box_partial(:handles, 'Handles')
      - else
        No universe was calculated. Go to
        = link_to 'Site Tasks', analyses_task_page_path
        to create one.
