- if @all_profiles.count > 0
  %h2
    Sorted by last tweet
  .paragraph
    %ol
      - @all_profiles.sort_by { |rec| last_tweet_time(rec) }.each do |rec|
        %li
          = link_to rec.handle, twitter_path(handle: rec.handle)
          = ": last tweet at #{last_tweet_safe(rec)}"
  %h2
    Sorted by number of tweets
  .paragraph
    %ol
      - @all_profiles.sort_by { |rec| rec.profile_stat.nil? ? 0: -rec.profile_stat.stats_hash[:total_tweets] }.each do |profile|
        %li
          = link_to profile.handle, twitter_path(handle: profile.handle)
          = number_of_tweets_message(profile)
