%h3
  Sort By
.paragraph.small-font
  (empty? #{link_to "Try running a stats update", analyses_task_page_url})
.paragraph.row
  .col-xs-12
    .selection-box{'data-target' => 2}
      Time of latest tweet
    .selection-box{'data-target' => 1}
      Total tweets
    .selection-box{'data-target' => 0}
      Tweets retrieved
    .selection-box{'data-target' => 3}
      Avg Re-tweets

.profile-list
  - if @profiles_list.count > 0
    .databox#databox-1
      %h4
        Sorted by total tweets
      .paragraph
        %ol
          - @profiles_list_sorts[:tweets_count].all.each do |rec|
            %li.twitter-profile
              = link_to rec.handle, twitter_path(handle: rec.handle)
              = "Total tweets: #{rec.tweets_count}"
    .databox#databox-0
      %h4
        Sorted by tweets retrieved
      .paragraph
        %ol
          - @profiles_list_sorts[:tweets_retrieved].all.each do |rec|
            %li.twitter-profile
              = link_to rec.handle, twitter_path(handle: rec.handle)
              = number_of_tweets_message(rec)

    .databox#databox-2
      %h4
        Sorted by last tweet time
      .paragraph
        %ol
          - @profiles_list_sorts[:last_known_tweet_time].all.each do |rec|
            %li.twitter-profile
              = link_to rec.handle, twitter_path(handle: rec.handle)
              = ": last tweet #{rec.last_tweet_time.try(:strftime, '%a, %b %d, %H:%M:%S')}"
    .databox#databox-3
      %h4
        Sorted by retweet avg
      .paragraph
        %ol
          - @profiles_list_sorts[:avg_retweets_collected].all.each do |rec|
            %li.twitter-profile
              = link_to rec.handle, twitter_path(handle: rec.handle)
              = number_of_tweets_message(rec)
